html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  border: 1px solid black;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 25px;
}

main {
  padding: 0 15px;
  text-align: center;
}

h2 {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.header__div {
  width: 100%;
  height: 40px;
  background-color: #d3bb72;
}

.menu {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item {
  padding: 0 20px;
  color: black;
  flex: 1 1 auto;
}
.menu__item:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.menu__item--active {
  border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4;
}

.calendar {
  width: 100%;
  border: 1px solid black;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px 0;
}
.calendar__title {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.to_do {
  border: 1px solid black;
  margin: 0;
  padding: 30px 0;
  margin: 30px 0;
}
.to_do__table {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-spacing: 10px;
}
.to_do__table-field {
  border: 1px solid black;
  padding: 8px 15px;
}

.places {
  border: 1px solid black;
  margin: 0;
  padding: 30px 0;
  margin: 30px 0;
}
.places__table {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-spacing: 10px;
}
.places__table-field {
  border: 1px solid black;
  padding: 7px 15px;
}

.map {
  border: 1px solid black;
  margin: 0;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px 0;
  width: 100%;
}
.map__input {
  width: 100%;
  height: 100%;
}

.new_album {
  display: block;
  font-size: 18px;
  text-align: left;
  color: black;
  text-decoration: none;
  padding-bottom: 10px;
}

.fotogalery {
  width: 100%;
  border: 1px solid black;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px 0;
}
.fotogalery__title {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
.fotogalery__last_added {
  position: relative;
}
.fotogalery__events {
  position: relative;
}
.fotogalery__anniversaries {
  position: relative;
}
.fotogalery__parties {
  position: relative;
}
.fotogalery__easters {
  position: relative;
}
.fotogalery__holidays {
  position: relative;
}
.fotogalery__christmases {
  position: relative;
}
.fotogalery__for_fun {
  position: relative;
}
.fotogalery__new_album {
  position: relative;
}
.fotogalery__img {
  width: 100%;
}
.fotogalery__link {
  width: 100%;
  padding-bottom: 15px;
  /*     background-image: radial-gradient(circle, rgba(black, 0.3), rgba(rgba(255, 255, 255, 0), 0)); */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 90%);
  background-repeat: no-repeat;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  bottom: 9.5px;
  left: 0;
}

.recipes {
  width: 100%;
  border: 1px solid black;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px 0;
}
.recipes__title {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
.recipes__last_added {
  position: relative;
}
.recipes__starters {
  position: relative;
}
.recipes__soups {
  position: relative;
}
.recipes__main-dishes {
  position: relative;
}
.recipes__desserts {
  position: relative;
}
.recipes__salads {
  position: relative;
}
.recipes__spreads {
  position: relative;
}
.recipes__drinks {
  position: relative;
}
.recipes__conserves {
  position: relative;
}
.recipes__img {
  width: 100%;
}
.recipes__link {
  width: 100%;
  padding-bottom: 15px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 95%);
  background-repeat: no-repeat;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  bottom: 9.5px;
  left: 0;
}

.journal {
  width: 100%;
  border: 1px solid black;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px 0;
}
.journal__title {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
.journal__old_stories {
  position: relative;
}
.journal__new_stories {
  position: relative;
}
.journal__img {
  width: 100%;
}
.journal__link {
  width: 100%;
  padding-bottom: 15px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 95%);
  background-repeat: no-repeat;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  bottom: 9.5px;
  left: 0;
}

.footer {
  border-top: 1px solid black;
  background-color: #d3bb72;
}
.footer__text {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px 0;
}/*# sourceMappingURL=style.css.map */