@use 'settings';

.new_album{
    display: block;
    font-size: 18px;
    text-align: left;
    color: settings.$text-and-borders;
    text-decoration: none;
    padding-bottom: calc(settings.$spacer / 3);
}

.gallery {
    width: 100%;
    border: settings.$border-width solid settings.$text-and-borders;
    padding-top: settings.$spacer;
    padding-left: calc(settings.$spacer / 3);
    padding-right: calc(settings.$spacer / 3);
    margin: settings.$spacer 0; 
    
    &__grid{
        @media screen and (min-width: 600px) {
            display: grid;
            gap: calc(settings.$spacer / 3);
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            padding-bottom:calc(settings.$spacer / 3);
        }
            
    }

    &__title{
        border-bottom: settings.$border-width solid settings.$text-and-borders;
        padding-bottom: settings.$spacer;
    }

    &__item{
        position: relative;
    }


    &__img{
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    &__link{
        width: 100%;
        padding-bottom: 15px;
 /*     background-image: radial-gradient(circle, rgba(black, 0.3), rgba(rgba(255, 255, 255, 0), 0)); */
        background-image: linear-gradient(to top, rgba(black, 0.4), rgba(black,0));
        background-repeat: no-repeat;
        font-weight: 600;
        text-transform: uppercase;
        color: settings.$primary;
        text-decoration: none;
        position: absolute;
        bottom: 9.5px;
        left: 0;
        @media screen and (min-width: 600px){
            bottom: 0;
        }
    }
}

.three-columns{

    @media screen and (min-width: 1100px){
        grid-template-columns: 1fr 1fr 1fr;
        }
}