@use 'settings';



.recipes{
    width: 100%;
    border: settings.$border-width solid settings.$text-and-borders;
    padding-top: settings.$spacer;
    padding-left: calc(settings.$spacer / 3);
    padding-right: calc(settings.$spacer / 3);
    margin: settings.$spacer 0;  
    &__title{
        border-bottom: settings.$border-width solid settings.$text-and-borders;
        padding-bottom: settings.$spacer;
    }

    &__last_added{
        position: relative;
    }
    &__starters{
        position: relative;
    }
    &__soups{
        position: relative;
    }
    &__main-dishes{
        position: relative;
    }
    &__desserts{
        position: relative;
    }
    &__salads{
        position: relative;
    }
    &__spreads{
        position: relative;
    }
    &__drinks{
        position: relative;
    }
    &__conserves{
        position: relative;
    }


    &__img{
        width: 100%;

    }
    &__link{
        width: 100%;
        padding-bottom: 15px;
        background-image: linear-gradient(to top, rgba(black, 0.4), rgba(black,0)95%);
        background-repeat: no-repeat;
        font-weight: 600;
        color: settings.$primary;
        text-transform: uppercase;
        text-decoration: none;
        position: absolute;
        bottom: 9.5px;
        left: 0;

    }
}