$primary: #ffffff;
$complementary-light:#FFF1CD;
$complementary-medium:#f6db96;
$complementary-dark:#D3B974;
$grey:#C4C4C4;
$text-and-borders: black;
$font-base: 'Open Sans', sans-serif;
$spacer: 30px;
$border-width: 1px;