$primary: #ffffff;
$complementary-light:#FFF1CD;
$complementary-medium:#f6db96;
$complementary-dark:#D3B974;
$grey:#C4C4C4;
$text-and-borders: black;
$font-base: 'Open Sans', sans-serif;

html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }

body{
    border: 2px solid $text-and-borders;
    font-family: $font-base;
    font-weight: 300;
    margin: 0;
}
h2{
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}
.header__div{
    width: 100%;
    height: 200px;
    background-color: $grey;
}

.menu{
    border-top: 2px solid $text-and-borders;
    border-bottom: 2px solid $text-and-borders;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item{
        padding:0 20px;
        color: $text-and-borders;
        flex: 1 1 auto;  
}       
            &__item:hover{
            border-left: 2px solid $text-and-borders;
            border-right: 2px solid $text-and-borders;
}
}

.footer{
    border-top: 2px solid $text-and-borders;
    
    &__text{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
}
}