---
layout: layouts/main_template.njk
---


<div class="catalog">

    <div class="catalog__flex">
        
        <div class="catalog__list">
            
                {{ content | safe }}

        </div>
    </div> 

</div>
